
nav{
   height:10vh;
   background-color: rgb(32,78,207);
   display: flex;
   justify-content: start;
   align-items:start;
   }
   .nav-link{
      margin: 1rem;
      text-decoration: none;
      color:White;
      border:1px solid none;
      font-weight: bold;
   }


   /* 
  
   
   */